/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

/* COMMON */
.container-row,.container, .container-small{
    margin:auto
}
.container, .container-row{
    max-width: 1200px;
}
.container-small{
    max-width: 900px;
}
.row, .container-row {
    display:flex;
}
/* BUTTONS */
.btn {
    background-color: white;
    border: none;
    color: black;
    padding: 0 15px;
    text-align: center;
    border-radius: 50px;
    }
/* HEADER */
.header-top{
    padding: 16px 0;
    background-color: #255EE9;
    color:white;
}
.header-top.row{
    align-items: center;
}
.logo,.login{
    width:20%;
    padding: 0 5px;
}
.main-nav{
    width: 60%;
   
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li{
    margin: 0 10px;
}
.main-nav ul li a{
    text-decoration: none;
    color: inherit;
}
.login{
    text-align: right;
}
.hero{
    padding: 50px 0;
    background-image: url("img/jumbo.png");
}
/* MAIN */
section{
    padding: 40px 0;
}
section:nth-child(even){
    background-color: #d3d3d3;
}
.col-big{
    width: 60%;
}
.col-small{
    width: 40%;
}
/* FOOTER */
.footer-top{
    padding: 10px 0 30px 0;
}
.footer-top .col-small{
    width: 25%;
}
.footer-top .col-big{
    width: 75%;
}
.footer-top .col-big .col{
    width: 25%;
}
.footer-bottom {
    padding-top: 30px
}
.footer-bottom .row {
    justify-content: space-between;
    align-items: center;
}
