/* RESET */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color:white;
}

/* COMMON */
.container-row,.container, .container-small{
    margin:auto
}
.container, .container-row{
    max-width: 1200px;
}
.container-small{
    max-width: 900px;
}
.row, .container-row {
    display:flex;
}

/* BUTTONS */
.btn {
    background-color: white;
    border: none;
    color:  #23272A;
    padding: 0 15px;
    text-align: center;
    border-radius: 50px;
}
.scarica{
    padding: 10px;
    color:#23272A ;
}
.apri{
    background-color:  #23272A ;
    color: white;
    padding: 10px;
}
/* HEADER */
.header-top{
    padding: 16px 0;
    background-color: #255EE9;
   
}
.header-top{
    align-items: center;
}
section:nth-child(2n){
background-color:#F6F6F6
}
.logo,.login{
    width:20%;
    padding: 0 5px;
}
.main-nav{
    width: 60%;
}
.main-nav ul{
    list-style: none;
    display: flex;
    justify-content: center;
}
.main-nav ul li{
    margin: 0 10px;
}
.main-nav ul li a{
    text-decoration: none;
    color: inherit;
}
.login{
    text-align: right;
}
.hero{
    padding: 100px;
    background-image: url("../img/jumbo.png");
    background-size: cover;
    text-align: center;
}
p{
    margin: 40px 140px 10px 140px;
}

/* MAIN */
section{
    padding: 40px 0;
}
.col-big{
    width: 60%;
}
.col-small{
    width: 40%;
    padding-top: 5%;
    padding-right: 15%;
}
h2{
    color: #23272A ;
    text-align: left;
    font-size: 30px;
    margin-bottom: 20px;
}
small{
    color: #23272A ;
    text-align: left;
}
.sotto{
    margin-left: 10%;
}

/* FOOTER */
.footer-top{
    padding: 10px 0 30px 0;
}
.footer-top .col-small{
    width: 25%;
}
.footer-top .col-big{
    width: 75%;
}
.footer-top .col-big .col{
    width: 25%;
}
.footer-bottom {
    padding-top: 30px
}
.footer-bottom .row {
    justify-content: space-between;
    align-items: center;
}
